* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: 'Comic Sans MS', cursive, sans-serif;
}

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  width: 100%; 
}

.top-section {
  position: relative;
  width: 100%;
  text-align: center;
}

.top-image {
  width: 100%;
  height: auto;
  max-height: 45vh;
  object-fit: cover;
  margin: 0; 
  padding: 0; 
  display: block; 
}

.welcome-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.welcome-message h1 {
  font-size: 2.5rem;
  font-weight: 900;
  margin: 10px 0;
  text-shadow: 
    2px 2px 0 #93C572, 
    -2px -2px 0 #93C572,
    -2px 2px 0 #93C572, 
    2px -2px 0 #93C572,
    2px 0 0 #93C572, 
    0 2px 0 #93C572,
    -2px 0 0 #93C572, 
    0 -2px 0 #93C572,
    4px 4px 0 #93C572, 
    -4px -4px 0 #93C572,
    -4px 4px 0 #93C572, 
    4px -4px 0 #93C572,
    4px 0 0 #93C572, 
    0 4px 0 #93C572,
    -4px 0 0 #93C572, 
    0 -4px 0 #93C572;
}

.deals-button {
  background-color: #ff99cc;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.deals-button:hover {
  background-color: #cc6699;
}

.middle-section {
  background-color: rgba(0, 255, 0, 0.3); 
  width: 100%;
  border-top: 3px solid #ff99cc;
  margin: 0; 
  padding: 0; 
}

.middle-section p {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center; 
  color: darkgreen; 
  font-weight: bold; 
}

.bottom-section {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: rgba(0, 255, 0, 0.3);
  padding: 20px 0;
  padding-bottom: 100px;
  padding-top: 50px;
  margin: 0; 
}

.bottom-left, .bottom-middle, .bottom-right {
  width: 23%;
  text-align: center;
  border: 2px solid #ff99cc;
  background-color: #ffe6e6;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  min-height: 225px;
  padding: 20px; 
}

.bottom-left h2, .bottom-middle h2, .bottom-right h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.bottom-right iframe {
  width: 100%;
  height: 70%;
  border: 0;
}

.bottom-right h2 i {
  margin-right: 10px;
}

.bottom-left h2 i, .bottom-middle p i {
  margin-right: 10px;
}
