.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: pink;
  padding: 10px 20px;
  border-bottom: 3px solid #ff99cc;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 75px;
  width: 150px;
}

.nav {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.nav-item {
  background-color: #ffe6e6; 
  padding: 5px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  border: 2px solid #ff99cc;
}

.nav-item:hover {
  background-color: #cc6699; 
  cursor: pointer;
}

.nav-item a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
