* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.main-content {
  flex-grow: 1;
}

footer {
  background-color: pink;
  text-align: center;
  padding: 10px 0;
  border-top: 3px solid #ff99cc;
  position: relative;
  width: 100%;
}
